.App {
  /* text-align: center; */
}

h1.header {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  padding-top: 20px;
  padding-bottom: 0px;
  font-weight: 900;
}

h2.header {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  padding-bottom: 30px;
  font-weight: 200;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
